.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #000000;
}

.App-logo {
	height: 100px;
  display: block;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
  position: absolute;
  left: 10px;
  top: 0px;
}

.title {
	font-weight: bold;
	color: #bf1c1c;
}

.img {
  width: 100%
}

.link {
  color: #bf1c1c;
}


.slide-show-div {
  width: 480px;
  height: 120px;
  position: absolute;
  left: 650px;
  top: 0px;
  align-items: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #282c34;
}

.slide-div {
  align-self: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: #282c34;
  padding: 10px;
  height: 100px;
}

.slide-div img {
  height: 100px;
  min-width: 400px;
  max-width: 480px;
  border-radius: 5px;
}

.h2-txt {
  font-size: 35px;
  color: rgb(193, 41, 41);
  text-align: left;
  position: absolute;
  padding: 0;
  margin: 0;
}

.img-title {
  position: absolute;
  width: 700px;
  height: 50px;
  left: 0;
  top: 115px;
}
.right-arrow {
  font-size: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 90%;
  right: 0%;
  height: 60px;
  margin: auto;
}

.left-arrow {
  font-size: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 90%;
  height: 60px;
  margin: auto;
}

.left-arrow button,
.right-arrow button {
  border-style: none;
  width: 30px;
  color: white;
  background-color: #414c57a6;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.left-arrow button:hover, .right-arrow button:hover {
  background-color: rgb(193, 41, 41);
}

.dining-div{
  left: 3%;
  width: fit-content;
  position: absolute;
  top: 10%;
}
.title{
  position: relative;
  left: 2%;
}
.card-link {
  padding: 0.4rem 0.8rem;
	background-color: #bf1c1c;
	border-radius: 3px;
	color: #ffffff;
	text-decoration: none !important;
	margin: 5px;
}

.grid{
  position: absolute;
  top: 200px;
}